@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 20% 95%;
    --foreground: 20 14.3% 4.1%;
    --card: 30 20% 95%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 30 20% 95%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 30 85% 50%;
    --primary-foreground: 20 5.1% 94.9%;
    --secondary: 30 20% 90%;
    --secondary-foreground: 20 14.3% 4.1%;
    --muted: 30 20% 90%;
    --muted-foreground: 24 9.8% 38.4%;
    --accent: 0 75% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 20% 85%;
    --input: 30 20% 85%;
    --ring: 30 85% 50%;
    --radius: 0.5rem;
    --chart-1: 30 85% 50%;
    --chart-2: 0 75% 60%;
    --chart-3: 20 85% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 0 0% 95%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 95%;
    --primary: 30 85% 50%;
    --primary-foreground: 20 5.1% 94.9%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 0 0% 98%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 0 75% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 30 85% 50%;
    --chart-1: 30 85% 50%;
    --chart-2: 0 75% 60%;
    --chart-3: 20 85% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
